html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #7a7676;
  font-family: Helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.pane {
  background-color: white;
  border-radius: 10px;
  border: 1px solid transparent;

  padding: 20px;
  margin: 20px;
}

.editor {
  float: left;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 3px;
  vertical-align: top;
}

.full-height {
  height: 100%;
}

.wrapper {
  position: relative;
  padding: 22px 0 20px 10px;
}

.preview {
  float: left;
  margin-left: 20px;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 3px;
  vertical-align: top;
  padding: 10px;
}

textarea {
  user-select: text;
  flex-direction: column;
  cursor: auto;
  white-space: pre-wrap;
  outline: none;
  width: 100%;
  min-height: 400px; 
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#markdown {
  display: block;
  resize: none;
  border: 0;
  tab-size: 4;
  color: #111;
  background-color: transparent;
}

#app {
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.nav__item {
  float: left;
}

.nav {
  overflow: hidden;
  background-color: #333;
}